/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica Neue, Helvetica, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   General styles
   ========================================================================== */

html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

body { overflow-x:hidden; }

section {
  height:100%;
  position:relative;
  overflow-x:hidden
}

#intro {
    background:url(../img/slide1-background.jpg) no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#intro h1 {
    /* todo: media queries */
    font-size:150px;
    line-height:140px;
}
#intro div.wrapper {
    text-align:center;
    padding-top:10%;

}
.wrapper > div { 
    width:800px;
    margin:auto;
    text-align:left;
    font-size:30px;
    font-weight:200;
    line-height:40px;
    margin-top:20px;
    background:rgba(255,255,255,.2);
    padding:10px;
}
.austria {
    color:#c32222;text-shadow:5px 0 0 white,10px 0 0 #c32222, 10px 0 8px black;
}

#btn_slide1 {
    text-align:center;
    margin-top:50px;
    width:auto;
    display:table;
    cursor:pointer;
    background-color:#c32222;
    
    
    background-image:linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.0));
    background-image:-webkit-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.0));
    border-radius:10px;
    font-size:25px;
    padding-top:12px;
    border:1px solid #910202;
    box-shadow:0 0 2px black;
    color:white;
    text-shadow:2px 2px 0 #910202;
    
}
#btn_slide1:hover, #btn_slide2:hover, #btn_slide3:hover {
    box-shadow:0 0 10px black;
    background-color:#222222;
    text-shadow:2px 2px 0 black;
    border:1px solid black;
}
#btn_slide1:active, #btn_slide2:active, #btn_slide3:active {
    background-color:#1d1d1d;
}

#btn_slide2, #btn_slide3 {
    width:auto;
    display:table;
    position:absolute;
    bottom:60px;
    left:80px;
    line-height:30px;
    padding:10px;
    cursor:pointer;
    background-color:#c32222;
    background-image:linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.0));
    background-image:-webkit-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.0));
    border-radius:10px;
    font-size:25px;
    padding-top:12px;
    border:1px solid #910202;
    box-shadow:0 0 2px black;
    color:white;
    text-shadow:2px 2px 0 #910202;   
}

#cultureOverlay h2 {
    margin-top:30px;
    background:rgba(255,255,255,0.6);
    padding:20px;
    font-size:40px;
    display:table;
    text-shadow:1px 1px 1px white;
    /*border-top-right-radius:15px;
    border-bottom-right-radius:15px;*/
    box-shadow:0 0 0 5px rgba(255,255,255,.9);
}
#tags_slide2{
    width:400px;
}
#tags_slide2 div{
    display:inline-block;
    margin-top:10px;
    margin-left:5px;
    background:rgba(0,0,0,.5);
    color:white;
    padding:10px;
    cursor:pointer;
}
#tags_slide2 div:hover, #tags_slide2 .active {
    box-shadow:0 0 0 10px rgba(0,0,0,.4);
}
#spacer_slide2 {
    margin-top:100px;
    color:white;
    margin-left:40px;
    font-size:30px;
    text-shadow:1px 1px 1px black;
}
h1, h2, h3 { padding:0; margin:0; font-weight:200; }



/* ==========================================================================
   Visualization Styles
   ========================================================================== */

#cultureMap{
    width:100%;
    height:100%;
}

#cultureOverlay {
    position:absolute;
    top:0;
    z-index:10000;
    width:100%;
    height:100%;
    background: radial-gradient(farthest-side at 70% 50% , transparent, rgba(0,0,0,.8)) no-repeat transparent;
    background: -webkit-gradient(radial, 50% 50%, 0, 90% 50%, 1000, from(transparent), to(rgba(0,0,0,1)) ) no-repeat rgba(0,0,0,0);

}

#OpenLayers.Layer.Markers_5 {
    z-index:1000000 !important;
}
#ptMap { width:100%; height:100%; }
#ptOverlay {
    position:absolute;
    z-index:10000;
    top:0;
    left:0;
}
#ptOverlay h2{
    font-size:50px;
    line-height:60px;
}

#tram {
    position:absolute;
    z-index:100000;
    width:1585px;
    height:450px;
    bottom:0;
    background:url(../img/tramway.png);
    left:-1885px;
}
#msg {
    position: absolute;
    font-size:25px;
    line-height:30px;
    z-index: 100000;
    right:-100px;
    width: 230px;
    bottom: 220px;
    border-color: black;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid;
    background: rgba(255,255,255,.8);
    border-radius: 10px;
    cursor: pointer;
}
#msg::before {
content: "";
display: block;
position: absolute;
width: 0;
height: 0;
bottom: -40px;
left:33px;
top: auto;
right: auto;
border: 20px solid transparent;
border-top-color: black;
}
#msg::after {
content: "";
display: block;
position: absolute;
width: 0;
height: 0;
bottom: -26px;
left:40px;
top: auto;
right: auto;
border: 13px solid transparent;
border-top-color: #fff;
}
#msg:hover {
    box-shadow:0 0 10px 5px rgba(200,0,0,.3);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/* =============== POPULATION/ECONOMY ============ */

#economy {
    background:url(../img/economy-background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#economy .col {
    width: 450px;
    height: 520px;
    float: left;
}
#gdp, #population {
    /*height: 400px;*/
}

#gdp {
    margin-top: 50px;
}

.sub {
    font-style: italic;
    font-weight: 100;
    color: #888;
    font-size: 1.2em;
}



/* =============== SHARE/OUTRO ================== */


    .parallax-viewport {
      width: 100%;
      height: 100%;
      background-color: #aebcc9;
      position: relative;     /* relative, absolute, fixed */
      overflow: hidden;
    }
    
    .parallax-layer {
    position: absolute;
    }
    
    #share {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 580px;
      height: 300px;
      margin-left: -290px;
      margin-top: -200px;
      text-align: center;
    }
    
    #share .circle {
      float: left;
      height: 150px;
      width: 150px;
      background: white;
      border-radius: 75px;
      box-shadow: 4px 4px 15px #afa1b1;
      margin: 20px;
      margin-top: 50px;
      opacity: 0.8;
    }
    
    #share .circle:hover {
      box-shadow: 4px 4px 15px #afa1b1;
      opacity: 1;
    }
    
    #share h2 {
      font-weight: 300;
      font-size: 2.5em;
      text-shadow: 2px 2px 2px white;
    }

/* ==================== CREDITS ==================== */

#c {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 7px;
    font-weight: 200;
    background-color: white;
    opacity: 0.5;
    z-index: 10001;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

#credits {
    width: 100%;
    height: 400px;
    position: fixed;
    bottom: 0px;
    background:rgba(255,255,255,.2);
    border-radius: 10px;
    box-shadow: 4px 4px 15px #afa1b1;
    font-size: 0.8em;
    color: #222;
}

#credits a {
    text-decoration: none;
    color: #222;
    display: block;
    line-height: 15px;
    margin: 2px;
    padding: 2px;
}
#credits a:hover {
    color: #dd4444;
}

#credits .col {
    width: 200px;
    height: 300px;
    float: left;
    margin: 20px;
}
